body,div,p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
ul,ol{
	padding:0;
	margin:0;
	list-style: none;
}
html{
	width: 100%;
}
a{
	font-style: normal;
	text-decoration: none;
}
*{
	box-sizing:border-box;
}