/* 轮播图 */
.banner{
	width:100%;
	position:relative;
}
.banner img{
	width:100%;
}
.banner .swich{
	width:100%;
	display:flex;
	justify-content:space-between;
	position:absolute;
	left:50%;
	right:50%;
	margin:auto;
	top:50%;
	transform:translateY(-50%) translateX(-50%);
}
.swich-L{
	margin-left:5%;
}
.swich-R{
	margin-RIGHT:5%;
}
.banner .swich>div{
	width:70px;
	height:70px;
	border-radius:5px;
	background-color:rgba(70,70,70,0.5);
	line-height:70px;
	text-align:center;
	color:#fff;
	font-size:0;
}
.swich>div:hover{
	background-color: rgba(60,60,60,0.5);
}
.swich span{
	font-size:40px;
}
.up{
	width:50px;
	height:50px;
	position: fixed;
	bottom: 80px;
	right:50px;
}
.up img{
	width:100%;
	height:100%;
}
/* 内容 */
.largeBox{
	width:100%;
}
.content{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.content h2{
	text-align: center;
	margin:50px 0 40px 0;
	color:#666;
	font-size: 30px;
	font-weight: 550;
}
.content h2 span{
	color:#4ab344;
}
.content .title p{
	text-align: center;
	margin-bottom: 80px;
	color:#666;
}
.content ul{
	position: relative;
}
.content ul li h3{
	position: absolute;
	top:15px;
	left:60PX;
	color:#666;
	font-size: 12px;
}
.content ul li p{
	width:210px;
	line-height: 25px;
	margin-left:60px;
	font-size: 12px;
}
.content ul li:nth-child(1){
	position: absolute;
	top:45px;
	left:110px;
	z-index: 1;
}
.content ul li:nth-child(2){
	position: absolute;
	top:95px;
	right:140px;
	z-index: 1;
}
.content ul li:nth-child(3){
	position: absolute;
	bottom:220px;
	left:110px;
	z-index: 1;
}
.content ul li:nth-child(4){
	position: absolute;
	bottom:190px;
	right:140px;
	z-index: 1;
}
.content ul .img{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -155px;
	margin-left: -200px;
}
.service{
	width:100%;
	height:690px;
	background-image: url(../images/index/img11.jpg);
	background-size: 100% 100%;
}
.headings{
	width:1200px;
	margin: 0 auto;
	overflow: hidden;
}
.headings h3{
	width:100%;
	height:180px;
	font-size: 35px;
	color:#fff;
	font-weight: 100;
	line-height: 200px;
	text-align: center;
}
.service h3>span{
	color:#4ab344;
}
.box{
	width:1250px;
	overflow: hidden;
	margin:0 auto;
	padding-left:120px;
	display: flex;
	justify-content: space-between;
}
.box>img{
	width:370px;
	height:320px;
}
.box li{
	width:616px;
	position: relative;
	margin-bottom: 40px;
	font-size: 16px;
	color: #fff;
	line-height: 30px;
}
.box li:nth-child(1){
	width:630px;
}
.box li h5{
	position: absolute;
	left:85px;
	top:0;
	font-size: 16px;
}
.box li p{
	position: absolute;
	left:85px;
	top:33px;
	font-size: 14px;
	line-height: 25px;
}
.design{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.design .head h3{
	height:130px;
	line-height: 130px;
	font-size: 30px;
	text-align: center;
}
.design .head h3 span{
	color:#4ab344;
}
.design .head>p{
	font-size: 16px;
	color: #666;
	height: 70px;
	text-align: center;
}
.design ul{
	padding:0 50px;
	height:600px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.design ul li{
	width: 520px;
	height:180px;
	display: flex;
	justify-content: flex-end;
}
.design ul li .contents{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items:flex-end;
	margin-right:25px;
}
.design ul li .contents h5{
	font-size: 16px;
	color: #666;
	font-weight: 100;
	margin-bottom: 5px;
}
.design ul li .contents p{
	font-size: 14px;
	line-height: 25px;
	color: #666;
}
.design li:nth-child(2n) .contents{
	margin-left:25px;
	margin-right:0;
	display: flex;
	align-items:flex-start;
}
.design li:nth-child(2){
	margin-top:30px;
	padding-right:35px;
}
.design li:nth-child(3){
	margin-top:-70px;
}
.design li:nth-child(4){
	margin-top:-40px;
}
.select{
	width:100%;
	height:300px;
	background-color:#4ab344;
}
.select .bag{
	width:100%;
	height:300px;
	margin:0 auto;
	background-color:#4ab344;
	background-image:url(../images/index/AD0I8__lBRAEGAAg1ejivgUok6GH6AUwgA84rAI.png);
	background-size:100% 100%;
	overflow:hidden;
	position: relative;
}
.select .reason{
	width:100%;
	height:300px;
	margin:0 auto;
}
.select .reason p{
	font-size:40px;
	font-weight:550;
	color:#fff;
	position:absolute;
	top:40px;
	left:50%;
	transform: translateX(-60%);
}
.select .reason p span:nth-child(1){
	font-size:100px;
	margin-left:20px;
	margin-right:20px;
}
.select .reason p span:nth-child(2){
	color:rgb(234,203,16);
}
.select .reason div{
	width:350px;
	height:45px;
	text-align:center;
	line-height:45px;
	color:#fff;
	font-size:25px;
	position:absolute;
	border:2px solid #fff;
	position:absolute;
	top:200px;
	left:40%;
}
.process{
	width:1200px;
	margin:0 auto;
	margin-top:100px;
	margin-bottom:200px;
	height:500px;
	overflow: hidden;
}
.process .head h4{
	font-size: 30px;
	color:#666;
	text-align: center;
}
.process .head p{
	color:#666;
	text-align: center;
	line-height: 40px;
}
.process .icon{
	margin-left:17%;
	height:200px;
	display: flex;
	align-items: center;
}
.process .steps{
	padding:0 20px;
	margin-top:20px;
	display: flex;
	justify-content: space-around;
}
.process .steps li{
	width:335px;
	position: relative;
}
.process .steps li h3{
	font-size: 25px;
	color: #666;
	font-weight: 100;
	position: absolute;
	left:65px;
	top:10px;
}
.process .steps li p{
	font-size: 14px;
	color: #666;
	position: absolute;
	left:65px;
	top:50px;
	line-height: 30px;
}
